# docker-compose.yml
version: '3.8'

services:
  web:
    build: .
    #command: tail -f /dev/null
    command: >
      sh -c "while ! nc -z db 5432; do sleep 1; done;
             python manage.py migrate &&
             python manage.py runserver 0.0.0.0:8000"
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    # This tells Docker to load the .env file
    env_file:
      - .env
    depends_on:
      - db

  db:
    image: postgis/postgis:15-3.3
    volumes:
      - postgres_data:/var/lib/postgresql/data
    # We map the standard Postgres env vars to the ones in our .env file
    environment:
      - POSTGRES_DB=${SQL_DATABASE}
      - POSTGRES_USER=${SQL_USER}
      - POSTGRES_PASSWORD=${SQL_PASSWORD}
    ports:
      - "5432:5432"

volumes:
  postgres_data: